<br>
<br>
<div class="event_post col-5 m-auto">
  <h3 class="post-title">番組表の作成</h3>
  <br>

  <%= form_with model: @event, url: admin_events_path, local: true do |f| %>
    <%# エラーメッセージの表示%> 
    <%# f.objectで部分テンプレートに@eventを渡す %>

    <%# 番組表の概要 %>
    <div class="events-detail">
      <div class="form">
        <div class="weight-bold-text">
          演芸場の選択
        <%= f.collection_select(:theater_id, Theater.all, :id, :name, {}, {class:"form-control select-box", id:"item-category"}) %>
        </div>
        <br>

        <div class="weight-bold-text">
          日付の入力<br>
          <%= f.date_select(:start_time, class:"form-control-md") %>
        </div>
        <%#<div class="weight-bold-text">
          日付の入力(2日目)<br>
          <%= f.date_select(:start_times, {}, {start_time: 'event_comedian_form[start_times][]', class:"form-control-md"}) %>
        <%#</div>%>
        <br>

        <div class="weight-bold-text">
          昼席・夜席の選択
        <%= f.collection_select(:daynight_id, Daynight.all, :id, :name, {}, {class:"form-control select-box", id:"item-category"}) %>
        </div>
      </div>
    </div>  
    <%# //番組表の概要 %>
<br>
    <%# 出演者について %>
    <div class="items-detail">
      <div class="form form-group">
        <span>出演者の選択</span><br>
        <% 10.times do |i| %>
        <div class="weight-bold-text">
            <span><%= "#{i += 1}人目" %></span>
        </div>
            <%# 芸人名を特定する:comedian_idカラムは、中間テーブルのEvent_Comediansに保存をする %>
            <%= f.collection_select(:comedian_ids, Comedian.all, :id, :name, {}, {name: 'event_comedian_form[comedian_ids][]', class:"form-control select-box", id:"item-category"}) %>
        <% end %>
      </div>
    </div>
<br>
    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "登録する", class:"btn btn-success" %>
      <%=link_to 'もどる', root_path, class:"btn btn-primary" %>
    </div>
    <br>
    <%# /下部ボタン %>
  <% end %>
</div>