<br>
<br>
<div class="event_post col-5 m-auto">
  <h3 class="post-title">番組表の作成</h3>
  <br>

  <%= form_with model: @event, url: admin_events_path, local: true do |f| %>
    <%# エラーメッセージの表示%> 
    <%# f.objectで部分テンプレートに@eventを渡す %>

    <%# 番組表の概要 %>
    <div class="events-detail">
      <div class="form">
        <div class="weight-bold-text">
          演芸場の選択
        <%= f.collection_select(:theater_id, Theater.all, :id, :name, {}, {class:"form-control select-box", id:"item-category"}) %>
        </div>
        <br>

        <div class="weight-bold-text">
          日付の入力<br>
          <%= f.date_select(:start_time, class:"form-control-md") %>
        </div>
        <br>

        <div class="weight-bold-text">
          昼席・夜席の選択
        <%= f.collection_select(:daynight_id, Daynight.all, :id, :name, {}, {class:"form-control select-box", id:"item-category"}) %>
        </div>
      </div>
    <%# //番組表の概要 %>

    <%# 出演者について %>
    <div class="items-detail">
      <div class="form form-group">
        <div class="weight-bold-text">
          <span>出演者の選択</span><br>
          <span>1人目</span>
        </div>
        <%# 芸人名を特定する:comedian_idカラムは、中間テーブルのEvent_Comediansに保存をする %>
        <%= f.collection_select(:comedian_ids, Comedian.all, :id, :name, {}, {name: 'event_comedian_form[comedian_ids][]', class:"form-control select-box", id:"item-category"}) %>

        <%# 以下、二人目の実装 %>
        <div class="weight-bold-text">
          <span>2人目</span>
        </div>
        <%# 芸人名を特定する:comedian_idカラムは、中間テーブルのEvent_Comediansに保存をする %>
        <%= f.collection_select(:comedian_ids, Comedian.all, :id, :name, {}, {name: 'event_comedian_form[comedian_ids][]', class:"form-control select-box", id:"item-category"}) %>
        
        <div class="weight-bold-text">
          <span>3人目</span>
        </div>
        <%# 芸人名を特定する:comedian_idカラムは、中間テーブルのEvent_Comediansに保存をする %>
        <%= f.collection_select(:comedian_ids, Comedian.all, :id, :name, {}, {name: 'event_comedian_form[comedian_ids][]', class:"form-control select-box", id:"item-category"}) %>

       <div class="weight-bold-text">
          <span>4人目</span>
        </div>
        <%# 芸人名を特定する:comedian_idカラムは、中間テーブルのEvent_Comediansに保存をする %>
        <%= f.collection_select(:comedian_ids, Comedian.all, :id, :name, {}, {name: 'event_comedian_form[comedian_ids][]', class:"form-control select-box", id:"item-category"}) %>

       <div class="weight-bold-text">
          <span>5人目</span>
        </div>
        <%# 芸人名を特定する:comedian_idカラムは、中間テーブルのEvent_Comediansに保存をする %>
        <%= f.collection_select(:comedian_ids, Comedian.all, :id, :name, {}, {name: 'event_comedian_form[comedian_ids][]', class:"form-control select-box", id:"item-category"}) %>

       <div class="weight-bold-text">
          <span>6人目</span>
        </div>
        <%# 芸人名を特定する:comedian_idカラムは、中間テーブルのEvent_Comediansに保存をする %>
        <%= f.collection_select(:comedian_ids, Comedian.all, :id, :name, {}, {name: 'event_comedian_form[comedian_ids][]', class:"form-control select-box", id:"item-category"}) %>

       <div class="weight-bold-text">
          <span>7人目</span>
        </div>
        <%# 芸人名を特定する:comedian_idカラムは、中間テーブルのEvent_Comediansに保存をする %>
        <%= f.collection_select(:comedian_ids, Comedian.all, :id, :name, {}, {name: 'event_comedian_form[comedian_ids][]', class:"form-control select-box", id:"item-category"}) %>

    </div>

    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "登録する", class:"btn btn-success" %>
      <%=link_to 'もどる', root_path, class:"btn btn-primary" %>
    </div>
    <br>
    <%# /下部ボタン %>
  <% end %>
</div>