<div class="container-fluid">
  <div class="user_show text-white">
    <br>
    <h3 class="nickname m-auto"><%= @user.nickname %>のマイページ</h3>
    <div class="header m-suto">
      <%= link_to 'トップページへ', root_path %>
    </div>

    <br>
    <br>

    <table class="tabel table-striped table-bordered m-auto">
      <thead class="thead-light col-12">
        <tr class="table-title m-auto">
          <th scope="col-1">リアクション</th>
          <th scope="col-1">日付</th>
          <th scope="col-2">場所</th>
          <th scope="col-1">昼夜</th>
          <th scope="col-4">出演者</th>
          <th scope="col-3">メモ</th>
        </tr>
      </thead>

        <% current_user.reaction_liked_events.each do |event| %>
          <tbody>
            <tr>
                <th scope="row">いいね！</th>
                <td class="day"><%= event.start_time %></td>
                <td class="theater"><%= event.theater.name %></td>
                <td class="daynight"><%= event.daynight.name %></td>
                <% event.event_comedians.each do |event_comedian| %>
                  <td class="comedians ml-auto">
                      <% if event_comedian.comedian_id != 0 %>
                        <div class="wood">
                          <%= image_tag("wood.jpg", class: "img-fluid") %>
                          <p class="comedian-name">
                            一．<%= event_comedian.comedian.name %>
                          </p>
                        </div>
                      <% end %>
                  </td>
                <% end %> <!-- 芸名表示のeachメソッド終わり -->
                <td class="memo">
                  <%# メモのフォームを作成 %>
                  <%# いいね機能を作成後に@reaction_likesと@memoのform_withを作成する %>
                  <%= form_for(@memo) do |f| %>
                    <%= f.text_field :text, class:"form-control" %>
                    <%= f.submit "メモを送信", class:"mt-2" %>
                  <% end %>
                </td>
            </tr>
          </tbody>
        <% end %>
    </table>
  </div>
</div>