<!-- 昼席の表示 -->
<div class="card col-12 yose-hiru">
    <div class="card-body text-box">
        <div class="card-text comedians">
            <% shows.each do |event| %>
              <% if (event.start_time == selectday) && (event.theater_id == 3) && (event.daynight_id == 1) %>
                <p class="yose-title"><%= event.theater.name %></p>
                <p class="yose-title"><%= event.daynight.name %>席</p>
                <%# 出演者の名前 %>
                <% event.event_comedians.each do |event_comedian| %>
                  <% if event_comedian.comedian_id != 0 %>
                    <div class="wood">
                      <%= image_tag("wood.jpg", class: "img-fluid") %>
                      <p class="comedian-name">
                        一．<%= event_comedian.comedian.name %>
                      </p>
                    </div>
                  <% end %>
                <% end %> <!-- 芸名表示のeachメソッド終わり -->
                <!-- いいねボタン表示 -->
                <% if user_signed_in? %>
                  <% if current_user.already_reaction_liked?(event) %>
                   <%= button_to 'いいね削除', event_reaction_like_path(event, current_user), method: :delete, class:"mr-1" %>
                  <% else %>
                   <%= button_to 'いいね', event_reaction_likes_path(event), method: :post, class:"mr-1" %>
                  <% end %>
                  <!-- 管理者のみ編集・削除ボタン -->
                  <% if current_user.admin == true %>
                    <%= button_to '編集', edit_admin_event_path(event), method: :get, class:"mr-1" %>
                    <%= button_to '削除', admin_event_path(event), method: :delete, class:"mr-1" %>
                  <% end %>
                <% end %>
              <% end %> <!-- 昼席のif指定終わり -->
            <% end %> <!-- eventsのeachメソッド終わり -->
        </div>
    </div>
</div>

<!-- 夜席の表示 -->
<div class="card col-12 yose-yoru">
    <div class="card-body text-box">
        <div class="card-text comedians">
            <% shows.each do |event| %>
              <% if (event.start_time == selectday) && (event.theater_id == 3) && (event.daynight_id == 2) %>
                 <p class="yose-title"><%= event.theater.name %></p>
                <p class="yose-title"><%= event.daynight.name %>席</p>
                <%# 出演者の名前 %>
                <% event.event_comedians.each do |event_comedian| %>
                  <% if event_comedian.comedian_id != 0 %>
                    <div class="wood">
                      <%= image_tag("wood.jpg", class: "img-fluid") %>
                      <p class="comedian-name">
                        一．<%= event_comedian.comedian.name %>
                      </p>
                    </div>
                  <% end %>
                <% end %> <!-- 芸名表示のeachメソッド終わり -->
                <!-- いいねボタン表示 -->
                <% if user_signed_in? %>
                  <% if current_user.already_reaction_liked?(event) %>
                   <%= button_to 'いいね削除', event_reaction_like_path(event, current_user), method: :delete, class:"mr-1" %>
                  <% else %>
                   <%= button_to 'いいね', event_reaction_likes_path(event), method: :post, class:"mr-1" %>
                  <% end %>
                  <!-- 管理者のみ編集・削除ボタン -->
                  <% if current_user.admin == true %>
                    <%= button_to '編集', edit_admin_event_path(event), method: :get, class:"mr-1" %>
                    <%= button_to '削除', admin_event_path(event), method: :delete, class:"mr-1" %>
                  <% end %>
                <% end %>
              <% end %> <!-- 夜席のif指定終わり -->
            <% end %> <!-- eventsのeachメソッド終わり -->
        </div>
    </div>
</div>

<div class="info col-12 ca-twitter">
  <!-- カレンダー -->
  <div class="card calendar">
    <div class="card-body  order-md-1">
        <div class="card-text text-dark calendar-text">
            <%= month_calendar events: @events do |date, events| %>
              <p><%= date.day %></p>
              <% events.each do |event| %>
                <% if event.daynight_id == 1 %>
                  <% daynight = "昼" %>
                <% else %>
                  <% daynight = "夜" %>
                <% end %>

                <% dd = event.start_time.day %>
                <% if event.theater_id == 3 %>
                  <% if dd > 0 && dd < 11 %>
                      <p id="event"><%= link_to "上席:#{daynight}", event_path(event.id) %></p>
                  <% elsif dd > 10 && dd < 21 %>
                      <p id="event"><%= link_to "中席:#{daynight}", event_path(event.id) %></p>
                  <% elsif dd > 20 && dd < 31 %>
                      <p id="event"><%= link_to "下席:#{daynight}", event_path(event.id) %></p>
                  <% else %>
                    <p id="event"><%= link_to "余一会:#{daynight}", event_path(event.id) %></p>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
        </div>
    </div>
  </div>

  <!-- MAP -->
  <div class="card bg-transparent map">
      <div class="card-body">
            <div class="map-in order-md-3" id="map_03">
              <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAP_API_KEY"] %>"></script>
            </div>
      </div>
  </div>

  <!-- Twitter -->
  <div class="card bg-transparent twitter">
      <div class="card-body">
          <div class="card-text text-dark">
            <div class="twitter-in order-md-2">
              <a class="twitter-timeline" data-lang="ja" data-height="850px" data-theme="dark" href="https://twitter.com/asakusa_engei?ref_src=twsrc%5Etfw">Tweets by suehirotei</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
          </div>
      </div>
  </div>
</div>, class:"mr-1"