<!-- タイトル -->
<div class="header">
  <!-- *** ナビゲーションバー *** -->
  <nav class="navbar navbar-expand-md bg-dark">
      <div class="d-inline-flex list-left">
        <a class="nevbar-brand logo-mini"><%= image_tag("logo_mini.jpg", class: "img-fluid", id: "navbar-logo") %></a>
        <p class="text-white">寄席情報アプリ〜ざぶとんだより〜</p>
      </div>
      <button class="navbar-toggler btn-outline-white" type="button" data-toggle="collapse" data-target="#menu">
        <p class="m-auto text-white">MENU</p>
      </button>
      <div class="collapse navbar-collapse" id="menu">
        <ul class="navbar-nav ml-auto bg-dark">
          <%# ログイン時の表示 %>
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "#{current_user.nickname}さんはログイン中", user_path(current_user.id), class: "nav-link menu" %>
            </li>
            <li class="nav-item">
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "nav-link menu" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'ログイン', new_user_session_path, class: "nav-link menu" %>
            </li>
            <li class="nav-item">
              <%= link_to '新規登録', new_user_registration_path, class: "nav-link menu" %>
            </li>
          <% end %>
        </ul>
      </div>
  </nav>
</div>

<!-- 以下がコンテナクラスに入る -->
<div class="container-fluid">
   <!-- *** スライド写真とコピー *** -->
  <div class="card bg-transparent">
      <div id="photo" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
              <li data-target="#photo" data-slide-to="0" class="active"></li>
              <li data-target="#photo" data-slide-to="1"></li>
              <li data-target="#photo" data-slide-to="2"></li>
              <li data-target="#photo" data-slide-to="3"></li>
          </ol>
          <div class="carousel-innner">
              <div class="carousel-item active">
                  <%= image_tag("yose_01.jpg", class: "d-block img-fluid m-auto w-70") %>
              </div> 
              <div class="carousel-item">
                  <%= image_tag("yose_02.jpg", class: "d-block img-fluid m-auto w-70") %>
              </div>
              <div class="carousel-item">
                  <%= image_tag("yose_03.jpg", class: "d-block img-fluid m-auto w-70") %>
              </div>
              <div class="carousel-item">
                  <%= image_tag("yose_04.jpg", class: "d-block img-fluid m-auto w-70") %>
              </div> 
          </div>
      </div>
      <div class="card-img-overlay">
        <%= image_tag("copy.png", class: "card-body img-fluid copy-img") %>
      </div>
  </div>
  <br>
  <br>


  <!-- 当日の日付表示 -->
  <div class="schedule">
    <p class="today text-white"><%= Date.today %>/本日の番組</p>
  </div>
  <br>
  <!-- *** 演芸場タブ *** -->
  <div class="d-flex theaters">
      <ul class="nav nav-pills ml-auto">
          <li class="nav-item">
              <a class="btn btn-outline-secondary active text-white theater" href="#shinjuku" data-toggle="tab">新宿末廣亭</a>
          </li>
          <li class="nav-item">
              <a class="btn btn-outline-secondary text-white theater" href="#ikebukuro" data-toggle="tab">池袋演芸場</a>
          </li>
          <li class="nav-item">
              <a class="btn btn-outline-secondary text-white theater" href="#asakusa" data-toggle="tab">浅草演芸ホール</a>
          </li>
          <li class="nav-item ueno">
              <a class="btn btn-outline-secondary text-white theater" href="#ueno" data-toggle="tab">上野鈴本</a>
          </li>
      </ul>
  </div>

  <!-- *** タブの中身 *** -->
  <div class="tab-content row flex-nowrap ml-3 mr-3">
    <!-- *** 新宿末廣亭 *** -->
    <div id="shinjuku" class="tab-pane active col-12">
      <%= render partial: "shinjuku", locals: { events: @events } %>
    </div>

    <!-- *** 池袋演芸場 *** -->
    <div id="ikebukuro" class="tab-pane col-12">
      <%= render partial: "ikebukuro", locals: { events: @events } %>
    </div>

    <!-- *** 浅草演芸ホール *** -->
    <div id="asakusa" class="tab-pane col-12">
      <%= render partial: "asakusa", locals: { events: @events } %>
    </div>

    <!-- *** 上野広小路亭 *** -->
    <div id="ueno" class="tab-pane col-12">
      <%= render partial: "ueno", locals: { events: @events } %>
    </div>
  </div><%# タブの中身の終了 %>

<br>
<br>
    <%# 管理者ログインは最下部 %>
    <!-- *** フッター,管理者パス *** -->
    <% if user_signed_in? && current_user.admin? %>
      <div class="footer-extend  fixed-bottom">
          <ul class="nav nav-tabs">
              <li class="nav-item dropdown bg-dark">
                  <a class="nav-link dropdown-toggle bg-dark text-white" data-toggle="dropdown" href="#">管理者 専用</a>
                  <div class="dropdown-menu bg-dark">
                      <%= link_to "管理者用:投稿ページ", new_admin_event_path, class: "dropdown-item text-white" %>
                      <%= link_to "管理者:ログアウト", destroy_user_session_path, method: :delete, class: "dropdown-item text-white" %>
                  </div>
              </li>
          </ul>
      </div>
    <% end %>
</div>  <%# containerの終了 %>