<!DOCTYPE html>
<html lag="ja">
  <head>
    <title>ざぶとんだより</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- タイトル -->
    <div class="header">
      <!-- *** ナビゲーションバー *** -->
      <nav class="navbar navbar-expand-md bg-dark">
          <div class="d-inline-flex list-left">
            <a class="nevbar-brand logo-mini"><%= image_tag("logo_mini.jpg", class: "img-fluid", id: "navbar-logo") %></a>
            <% if request.path == '/' %>
              <p class="text-white">ざぶとんだより〜寄席情報アプリ〜</p>
            <% else %>
              <p class="text-white">ざぶとんだより〜寄席情報アプリ〜 <%= link_to "トップページへ戻る", root_path, class: "text-primary" %></p>
            <% end %>
          </div>
          <button class="navbar-toggler btn-outline-white" type="button" data-toggle="collapse" data-target="#menu">
            <p class="m-auto text-white">MENU</p>
          </button>
          <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav ml-auto bg-dark">
              <%# ログイン時の表示 %>
              <% if user_signed_in? %>
                <li class="nav-item">
                  <%= link_to "#{current_user.nickname}さんはログイン中", user_path(current_user.id), class: "btn nav-link menu" %>
                </li>
                <li class="nav-item">
                  <%= link_to "マイページへ", user_path(current_user.id), class: "btn btn-secondary nav-link menu" %>
                </li>
                <li class="nav-item">
                  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn btn-secondary nav-link menu" %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to 'ログイン', new_user_session_path, class: "btn btn-secondary nav-link menu" %>
                </li>
                <li class="nav-item">
                  <%= link_to '新規登録', new_user_registration_path, class: "btn btn-secondary nav-link menu" %>
                </li>
              <% end %>
            </ul>
          </div>
      </nav>
    </div>

    <% if notice.present? %>
      <div class="alert alert-dismissable alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p><%= notice %></p>
      </div>
    <% end %>
    <% if alert.present? %>
      <div class="alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p><%= alert %></p>
      </div>
    <% end %>

    <%= yield %>

    <div class="footer">
      <nav class="navbar navbar-expand-md bg-dark">
        <div class="d-inline-flex list-left">
          <p class="text-white copy-rights">
            ©︎ 2021 Zabuton-dayori.ALL Rights Rserved.
          </p>
        </div>
      </nav>
    </div>
  </body>
</html>